*.jou
*.pb
*.rpt
*.vds
*.jou
*.xml
*.txt
*.vdi
*.html
*.info
*.log
*.js
*.rst
*.sh
*.bat
*.dcp
*.os
*.rpx
*.bdi
*.wdf
*.bit
*.edif
*.prj
*.mem
*svtype
*.dbg
*.reloc
*.type
*.rtti
*.xdebug
*.dbg
*.vdb
*.vd
*.vh
*.vhd


#*
#!.gitignore
#!*.vhd
#!**/*.v
#!*.upgrade_log
#!*.xci
#!*.xdc
#!*.tcl
#!*.c
#!*.h
