# Vivado vomit. To load project, use run TCL script and run the TCL scrip in
# this directory
*.jou
*.pb
*.rpt
*.vds
*.jou
*.xml
*.txt
*.vdi
*.html
*.info
*.log
*.js
*.rst
*.sh
*.bat
*.dcp
*.os
*.rpx
*.bdi
*.wdf
*.bit
*.edif
*.prj
*.mem
*.svtype
*.dbg
*.reloc
*.type
*.rtti
*.xdebug
*.dbg
*.vdb
*.vd
*.vh
*.vhd

hardware_test/oe_xillybus_test_firmware_02/*
!/**/Sources
!/**/Other
!/**/*.tcl
!**/README.*

# Simulation results
xsimk


